<nav class="nav-cats">
    <div class="container">
        <div class="nav-cats-inner">
            <div class="cat-pill cat-pill--active">پیشنهاد ویژه امروز</div>
            <div class="cat-pill">خانه و آشپزخانه</div>
            <div class="cat-pill">تنقلات و خوراکی</div>
            <div class="cat-pill">لوازم تحریر</div>
            <div class="cat-pill">آرایشی و بهداشتی</div>
            <div class="cat-pill">نظم‌دهنده و سازمان‌دهی</div>
            <div class="cat-pill">فصلی و مناسبتی</div>
        </div>
    </div>
</nav>
